/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Poppins', sans-serif;
    background-color: black; /* Cor de fundo escura */
    color: #fff; /* Cor do texto branco */
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.59); /* Fundo branco com transparência */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
    padding: 20px;
    animation: fadeIn 1s ease forwards;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2ecc71; /* Cor verde para o título */
    animation: slideInLeft 1s ease forwards;
}

.profile-container {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease forwards;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9); /* Sombra suave para a imagem */
}

p {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 20px;
    animation: slideInRight 1s ease forwards;
}

.back-button {
    margin-bottom: 20px;
    animation: fadeInDown 1s ease forwards;
}

.back-button a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #27ae60; /* Cor verde para o botão */
    color: #fff; /* Cor do texto branco */
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.back-button a:hover {
    background-color: #238d4f; /* Cor verde mais escura ao passar o mouse */
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
