body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2ecc71;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 30px;
    margin-bottom: 0;
    color: black;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #2ecc71;
    color: white;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

@media print {
    footer {
        display: none;
    }
}
